/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: yelaina buford
   Date:   12/4/19

   Filename: cg_validate.css

*/


/* Validation Styles */

